@import "list";
@import "switch";
@import "text";
@import "image";
@import "./scroll";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div, button, input, textarea, span,p, image, view, text{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
  border-width: 0;
}
button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  background-color: #ffffff;
}
.hm-default {
  display: flex;
  position: relative;
  flex-direction: column;
  border-style: solid;
}
.hm-default-inline {
  display: inline;
  position: relative;
  text-align: center;
}

.hm-default-view{
  display: flex;
  flex-direction: column;
  position: relative;
  border-style: solid;
}
.hm-default-button{
  display: flex;
  justify-content: center;
  align-items: center;
}