.hm-default-vertical {
    overflow: hidden;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
    .hm-scroller-content{
        min-height: 100.5%;
        width: 100%;
    }
}
.hm-default-horizontal{
    overflow: hidden;
    display: flex;
    flex-direction: row !important;
    max-height: 100%;
    max-width: 100%;
    .hm-scroller-content{
        min-width: 100.5%;
        height: 100%;
    }
}
