// @ts-nocheck
.hm-default-text {
  display: flex;
  overflow: hidden;
  max-width: 100%;
  align-items: center;
  //overflow: hidden;
  //text-overflow: ellipsis;
  //display: -webkit-box;
  //-webkit-line-clamp: attr(line);
  //-webkit-box-orient: vertical;
}
