// @ts-nocheck
.hm-default-text-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  .hm-default-text{
    display: inline-block;
  }
}
