// @ts-nocheck
.hm-default-text-box {
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: middle;
  overflow: hidden;
  max-width: 100%;
  .hm-default-text{
    display: inline-block;
  }
}
